@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #FCD34D;
    --width-break: 600px;
}
body{
    font-family: 'Montserrat','sans-serrif';
}
main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
.header-container{
    background-color: var(--primary-color);
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    max-width: 100%;
    margin-bottom: 1rem;
}

textarea{
    width: 100%;
    box-sizing: border-box;
    display: block;
    min-height: 20vh;
    margin-top: 2rem;
    padding: 1rem;
    font-size: large;
    font-family: inherit;
}
#txt-output{
    width: 100%;
    box-sizing: border-box;
    display: block;
    min-height: 10vh;
    margin-top: 2rem;
    padding: 1rem;
    font-size: large;
    overflow: scroll;
    border: 1px solid #333333;
}
#btn-translate{
    background-color: var(--primary-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: large;
    height: 60px;
}

footer{
    text-align: center;
    width: 100%;
    background-color: var(--primary-color);
    bottom: 0;
    padding: 1rem;
    position: fixed;
}

footer p{
    max-width: var(--width-break);
    margin: auto;
}